In [3]:
import pandas as pd
import numpy as np
continents = pd.read_csv("C:\\Users\\allis\\OneDrive\\Documents\\UCD\\UCDPA_allisondonohue\\continents2.csv")
world = pd.read_csv("C:\\Users\\allis\\OneDrive\\Documents\\UCD\\UCDPA_allisondonohue\\world_population.csv")

In [4]:
print(world.shape)
print(world.info())

(201, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country/Other      201 non-null    object
 1   Population (2020)  201 non-null    int64
 2   Yearly Change      201 non-null    float64
 3   Net Change         201 non-null    int64
 4   Density (P/Km²)    201 non-null    int64
 5   Land Area (Km²)    201 non-null    int64
 6   Migrants (net)     201 non-null    int64
 7   Fert. Rate         201 non-null    float64
 8   Med. Age           201 non-null    int64
 9   Urban Pop %        194 non-null    float64
 10  World Share        201 non-null    float64
dtypes: float64(4), int64(6), object(1)
memory usage: 17.4+ KB
None

In [5]:
print(continents.shape)
print(continents.info())

(249, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      249 non-null    object
 1   alpha-2                   248 non-null    object
 2   alpha-3                   249 non-null    object
 3   country-code              249 non-null    int64
 4   iso_3166-2                249 non-null    object
 5   region                    248 non-null    object
 6   sub-region                248 non-null    object
 7   intermediate-region       107 non-null    object
 8   region-code               248 non-null    float64
 9   sub-region-code           248 non-null    float64
 10  intermediate-region-code  107 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 21.5+ KB
None

In [6]:
world_cont = world.merge(continents, how = "left", left_on = "Country/Other", right_on = "name")
print(world_cont.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 200
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country/Other             201 non-null    object
 1   Population (2020)         201 non-null    int64
 2   Yearly Change             201 non-null    float64
 3   Net Change                201 non-null    int64
 4   Density (P/Km²)           201 non-null    int64
 5   Land Area (Km²)           201 non-null    int64
 6   Migrants (net)            201 non-null    int64
 7   Fert. Rate                201 non-null    float64
 8   Med. Age                  201 non-null    int64
 9   Urban Pop %               194 non-null    float64
 10  World Share               201 non-null    float64
 11  name                      187 non-null    object
 12  alpha-2                   186 non-null    object
 13  alpha-3                   187 non-null    object
 14  country-code              187 non-null    float64
 15  iso_3166-2                187 non-null    object
 16  region                    187 non-null    object
 17  sub-region                187 non-null    object
 18  intermediate-region       82 non-null     object
 19  region-code               187 non-null    float64
 20  sub-region-code           187 non-null    float64
 21  intermediate-region-code  82 non-null     float64
dtypes: float64(8), int64(6), object(8)
memory usage: 36.1+ KB
None

In [7]:
print(world_cont.loc[world_cont["region"].isnull(), ["Country/Other","Population (2020)"]])

                Country/Other  Population (2020)
21     Bosnia and Herzegovina            3280819
24                     Brunei             437479
34            Channel Islands             173863
45   Czech Republic (Czechia)           10708981
46              Côte d'Ivoire           26378274
47                   DR Congo           89561403
75              Guinea-Bissau            1968001
117                Micronesia             548914
132               North Korea           25778816
133           North Macedonia            2083374
152       Sao Tome & Principe             219159
168  St. Vincent & Grenadines             110940
169        State of Palestine            5101414
186       U.S. Virgin Islands             104425

In [118]:
print(continents.loc[continents["region"] =="Asia",["name"]])

                     name
0             Afghanistan
11                Armenia
15             Azerbaijan
17                Bahrain
18             Bangladesh
25                 Bhutan
33      Brunei Darussalam
38               Cambodia
45                  China
58                 Cyprus
82                Georgia
100             Hong Kong
103                 India
104             Indonesia
105                  Iran
106                  Iraq
109                Israel
112                 Japan
114                Jordan
115            Kazakhstan
118           South Korea
119    Korea, Republic of
120                Kuwait
121            Kyrgyzstan
122                  Laos
124               Lebanon
131                 Macao
134              Malaysia
135              Maldives
147              Mongolia
152               Myanmar
155                 Nepal
167                  Oman
168              Pakistan
170   Palestine, State of
175           Philippines
180                 Qatar
195          Saudi Arabia
200             Singapore
210             Sri Lanka
216                 Syria
217                Taiwan
218            Tajikistan
220              Thailand
221           Timor-Leste
227                Turkey
228          Turkmenistan
233  United Arab Emirates
238            Uzbekistan
241               Vietnam
246                 Yemen

In [8]:
print(continents.loc[continents["region"] =="Europe",["name"]])

                       name
1             Åland Islands
2                   Albania
5                   Andorra
14                  Austria
20                  Belarus
21                  Belgium
28   Bosnia And Herzegovina
34                 Bulgaria
55                  Croatia
59           Czech Republic
60                  Denmark
69                  Estonia
73            Faroe Islands
75                  Finland
76                   France
83                  Germany
85                Gibraltar
86                   Greece
92                 Guernsey
98                 Holy See
101                 Hungary
102                 Iceland
107                 Ireland
108             Isle of Man
110                   Italy
113                  Jersey
123                  Latvia
128           Liechtenstein
129               Lithuania
130              Luxembourg
137                   Malta
145                 Moldova
146                  Monaco
148              Montenegro
156             Netherlands
164               Macedonia
166                  Norway
177                  Poland
178                Portugal
182                 Romania
183                  Russia
193              San Marino
197                  Serbia
202                Slovakia
203                Slovenia
209                   Spain
213  Svalbard and Jan Mayen
214                  Sweden
215             Switzerland
232                 Ukraine
234          United Kingdom

In [9]:
print(continents.loc[continents["region"] =="Africa",["name"]])

                                             name
3                                         Algeria
6                                          Angola
23                                          Benin
29                                       Botswana
32                 British Indian Ocean Territory
35                                   Burkina Faso
36                                        Burundi
37                                     Cabo Verde
39                                       Cameroon
42                       Central African Republic
43                                           Chad
49                                        Comoros
50                                          Congo
51             Congo (Democratic Republic Of The)
54                                  Côte D'Ivoire
61                                       Djibouti
65                                          Egypt
67                              Equatorial Guinea
68                                        Eritrea
70                                       Eswatini
71                                       Ethiopia
79                    French Southern Territories
80                                          Gabon
81                                         Gambia
84                                          Ghana
93                                         Guinea
94                                  Guinea Bissau
116                                         Kenya
125                                       Lesotho
126                                       Liberia
127                                         Libya
132                                    Madagascar
133                                        Malawi
136                                          Mali
140                                    Mauritania
141                                     Mauritius
142                                       Mayotte
150                                       Morocco
151                                    Mozambique
153                                       Namibia
160                                         Niger
161                                       Nigeria
181                                       Réunion
184                                        Rwanda
186  Saint Helena, Ascension and Tristan da Cunha
194                         Sao Tome and Principe
196                                       Senegal
198                                    Seychelles
199                                  Sierra Leone
205                                       Somalia
206                                  South Africa
208                                   South Sudan
211                                         Sudan
219                                      Tanzania
222                                          Togo
226                                       Tunisia
231                                        Uganda
245                                Western Sahara
247                                        Zambia
248                                      Zimbabwe

In [10]:
continents_updated = continents
continents_updated["name"] = continents_updated["name"].replace(["Korea, Republic of","Palestine, State of","Czech Republic", "Congo (Democratic Republic Of The)","Côte D'Ivoire"],["North Korea","State of Palestine","Czech Republic (Czechia)","DR Congo","Côte d'Ivoire"])
print(continents_updated.shape)

(249, 11)

In [12]:
world_cont_upd = world.merge(continents_updated, left_on = "Country/Other", right_on = "name")
print(world_cont_upd.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 191
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country/Other             192 non-null    object
 1   Population (2020)         192 non-null    int64
 2   Yearly Change             192 non-null    float64
 3   Net Change                192 non-null    int64
 4   Density (P/Km²)           192 non-null    int64
 5   Land Area (Km²)           192 non-null    int64
 6   Migrants (net)            192 non-null    int64
 7   Fert. Rate                192 non-null    float64
 8   Med. Age                  192 non-null    int64
 9   Urban Pop %               185 non-null    float64
 10  World Share               192 non-null    float64
 11  name                      192 non-null    object
 12  alpha-2                   191 non-null    object
 13  alpha-3                   192 non-null    object
 14  country-code              192 non-null    int64
 15  iso_3166-2                192 non-null    object
 16  region                    192 non-null    object
 17  sub-region                192 non-null    object
 18  intermediate-region       84 non-null     object
 19  region-code               192 non-null    float64
 20  sub-region-code           192 non-null    float64
 21  intermediate-region-code  84 non-null     float64
dtypes: float64(7), int64(7), object(8)
memory usage: 34.5+ KB
None

In [13]:
print(world_cont_upd[["Urban Pop %"]].mean())

Urban Pop %    59.524324
dtype: float64

In [14]:
world_cont_upd.fillna(world_cont_upd.mean(), inplace =True)
print(world_cont_upd[["Urban Pop %"]].mean())

Urban Pop %    59.524324
dtype: float64

In [147]:
print(world_cont_upd.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 0 to 190
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country/Other             191 non-null    object
 1   Population (2020)         191 non-null    int64
 2   Yearly Change             191 non-null    float64
 3   Net Change                191 non-null    int64
 4   Density (P/Km²)           191 non-null    int64
 5   Land Area (Km²)           191 non-null    int64
 6   Migrants (net)            191 non-null    int64
 7   Fert. Rate                191 non-null    float64
 8   Med. Age                  191 non-null    int64
 9   Urban Pop %               191 non-null    float64
 10  World Share               191 non-null    float64
 11  name                      191 non-null    object
 12  alpha-2                   190 non-null    object
 13  alpha-3                   191 non-null    object
 14  country-code              191 non-null    int64
 15  iso_3166-2                191 non-null    object
 16  region                    191 non-null    object
 17  sub-region                191 non-null    object
 18  intermediate-region       84 non-null     object
 19  region-code               191 non-null    float64
 20  sub-region-code           191 non-null    float64
 21  intermediate-region-code  191 non-null    float64
dtypes: float64(7), int64(7), object(8)
memory usage: 34.3+ KB
None

In [15]:
print(list(world_cont_upd.columns.values))

['Country/Other', 'Population (2020)', 'Yearly Change', 'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)', 'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share', 'name', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region', 'sub-region', 'intermediate-region', 'region-code', 'sub-region-code', 'intermediate-region-code']

In [16]:
world_cont_upd = world_cont_upd[['Country/Other', 'Population (2020)', 'Yearly Change', 'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)', 'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share', "region"]]

In [17]:
print(world_cont_upd.shape)

(192, 12)

In [35]:
world_cont_upd.set_index

(192, 11)

In [33]:
 print(world_cont_upd.index)

Index(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       ...
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country/Other', length=192)

In [34]:
 print(world_cont_upd["Population (2020)"].idxmax())

China